.leads{
    width: 87%;
    height: 50%;
    background-color: lightblue;
    color: black;
    margin-left: 10%;
    margin-right: 50%;
}

.top-row{
    background-color: lightblue;
    width: 80%;
    margin-left: 18%;
    margin-top: 3%;
}

.body-row{
    width: 80%;
    margin-left: 18%;
    margin-top: 5%;
}

.rls-top-section{
    display: flex;
    margin-left: 20%;
    margin-bottom: 1%;
    width: 580%;
    margin-top: 5%;
}


.rls-body{
    margin-left: 16%;
    margin-bottom: 1%;
    width: 99%;
    margin-top: 10%;
}

#content{
    width: 78%;
    height: 80%;
}